
/* Responsive Styles */
@media only screen and (max-width: 1200px) {
  #nav {
    padding: 0 80px;
    gap: 30px;
  }

  #nav h4 {
    font-size: 1.5vw;
  }

  #page1 h1 {
    font-size: 6vw;
  }

  #page1 p {
    font-size: 1.5vw;
    width: 60%;
  }

  #scroller h4 {
    font-size: 6vw;
  }

  #about-us-in h3 {
    font-size: 3vw;
    padding-top: 80px;
    display: inline block;
  }

  #about-us-in p {
    font-size: 2vw;
  }

  #cards-container {
    flex-direction: column;
    height: auto;
    gap: 5px;
  }

  .card {
    width: 80%;
    height: auto;
  }

  #green-div h4 {
    font-size: 2vw;
  }

  #page3 > p {
    font-size: 2vw;
    width: 80%;
  }

  .elem {
    width: 80%;
    height: auto;
  }

  .elem h2 {
    font-size: 2vw;
  }

  #footer {
    padding: 0 50px;
    gap: 4vw;
  }

  #f3 h3 {
    font-size: 1.2vw;
  }

  #f4 h4 {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 768px) {
  #nav {
    padding: 0 20px;
    gap: 20px;
  }

  #nav h4 {
    font-size: 2.5vw;
  }

  #page1 h1 {
    font-size: 10vw;
  }

  #page1 p {
    font-size: 4vw;
    width: 80%;
  }

  #scroller h4 {
    font-size: 6vw;
  }

  #about-us-in h3 {
    font-size: 6vw;
  }

  #about-us-in p {
    font-size: 4vw;
  }

  #cards-container {
    flex-direction: column;
  }

  .card {
    width: 80%;
    height: auto;
  }

  #green-div h4 {
    font-size: 4vw;
  }

  #page3 > p {
    font-size: 4vw;
    width: 80%;
  }

  .elem {
    width: 80%;
    height: auto;
  }

  .elem h2 {
    font-size: 4vw;
  }

  #footer {
    padding: 0 20px;
    gap: 2vw;
  }

  #f3 h3 {
    font-size: 4vw;
  }

  #f4 h4 {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 480px) {
  #nav {
    padding: 0 10px;
    gap: 10px;
  }

  #nav h4 {
    font-size: 4vw;
  }

  #page1 h1 {
    font-size: 12vw;
  }

  #page1 p {
    font-size: 5vw;
    width: 90%;
  }

  #scroller h4 {
    font-size: 8vw;
  }

  #about-us-in h3 {
    font-size: 8vw;
  }

  #about-us-in p {
    font-size: 5vw;
  }

  #cards-container {
    flex-direction: column;
  }

  .card {
    width: 90%;
    height: auto;
  }

  #green-div h4 {
    font-size: 6vw;
  }

  #page3 > p {
    font-size: 5vw;
    width: 90%;
  }

  .elem {
    width: 90%;
    height: auto;
  }

  .elem h2 {
    font-size: 5vw;
  }

  #footer {
    padding: 0 10px;
    
    
    
    gap: 1vw;
  }
 

  #f3 h3 {
    font-size: 10vw;
    padding: left 300px; ;
    display: table-column;
    
  }

  #f4 h4 {
    font-size: 3.5vw;
  }
}

#me{
  margin: 0 auto;
  padding: 80px;
  width: 80%;
  grid-row: auto;
}
fieldset{
  
  gap: 10px;
  border: none;
  background-color: rgb(58, 115, 140);
  border-radius: 40px



}
legend ,p {

  color: rgb(244, 237, 237);
  border: none;
  box-shadow: 4px 4px 4px 2px rgba(68, 50, 50, 0.6);
  
 


}
span{
  color: brown;
  font-weight: bolder;
  font-size: 30px;
}
#pro{
  margin: 0 auto;
  padding: 80px;
  width: 80%;
  grid-row: auto;

}






